In [2]:
import pandas as pd
import numpy as np
from scipy import stats as mystats
import matplotlib.pyplot as myplot
from pandas.tools.plotting import scatter_matrix
from statsmodels.formula.api import ols as myols
from statsmodels.stats.anova import anova_lm

In [4]:
myData = pd.read_csv(".\datasets\Mult_Reg_Yield.csv")
myData

    Time  Temperature  Yield
0    130          190   35.0
1    174          176   81.7
2    134          205   42.5
3    191          210   98.3
4    165          230   52.7
5    194          192   82.0
6    143          220   34.5
7    186          235   95.4
8    139          240   56.7
9    188          230   84.4
10   175          200   94.3
11   156          218   44.3
12   190          220   83.3
13   178          210   91.4
14   132          208   43.5
15   148          225   51.7

In [17]:
x= myData.iloc[:,:1].values
x

array([[130],
       [174],
       [134],
       [191],
       [165],
       [194],
       [143],
       [186],
       [139],
       [188],
       [175],
       [156],
       [190],
       [178],
       [132],
       [148]], dtype=int64)

In [23]:
y= myData.iloc[:,2:3].values
y

array([[35. ],
       [81.7],
       [42.5],
       [98.3],
       [52.7],
       [82. ],
       [34.5],
       [95.4],
       [56.7],
       [84.4],
       [94.3],
       [44.3],
       [83.3],
       [91.4],
       [43.5],
       [51.7]])