In [1]:
import pandas as mypandas
from scipy import stats as mystats
myData = mypandas.read_csv(".\datasets\Sales_Promotion.csv")

TypeError: 'DataFrame' object is not callable

In [2]:
SO1 = myData.Sales_Out1
SO2 = myData.Sales_Out2
myData

    Sales_Out1  Sales_Out2
0         1217        1731
1         1416        1420
2         1381        1065
3         1413        1612
4         1800        1361
5         1724        1259
6         1310        1470
7         1616         622
8         1941        1711
9         1792        2315
10        1453        1180
11        1780        1515

In [3]:
v= mystats.ttest_ind(SO1,SO2)

In [4]:
v

Ttest_indResult(statistic=0.9625184533861653, pvalue=0.3462502310190172)

In [5]:
v.pvalue

0.3462502310190172

In [6]:
SO1.mean()

1570.25

In [7]:
SO2.mean()

1438.4166666666667

In [ ]:
#want to mention the result 
# here the mean is not equal so promotion activity is ot helpinng