In [1]:
import pandas as mypd
from scipy import stats as mystats

In [3]:
myData = mypd.read_csv(".\\datasets\\Utilization.csv")
myData

    Old   New
0  89.5  89.5
1  90.0  91.5
2  91.0  91.0
3  91.5  89.0
4  92.5  91.5
5  91.0  92.0
6  89.0  92.0
7  89.5  90.5
8  91.0  90.0
9  92.0  91.0

In [4]:
n1=myData.Old
n2=myData.New

In [6]:
mystats.ttest_ind(n1,n2)

Ttest_indResult(statistic=-0.20365326999062763, pvalue=0.8409091277398291)

In [ ]:
#hypothesis H0 is true bcos of p>=0.05 and new method is not helping